* {
    padding:0;
    margin:0;
    outline:none;
}
body {

    background: none repeat scroll 0 0 #FFFFFF;

    color: #444444;

    font: 12px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;

}

root { 
    display: block;
}

.clear {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

.italic {
	font-style: italic;
}

.text-center {
	text-align: center;	
}

a {
    color: #1659BD;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

ul {
	list-style-type: none;
}

 #wrapper
 {
 	width:1000px;
 	margin:0 auto;
 	padding:10px;
 }
#header 
{
	background-color:#686F74;
	background: -webkit-linear-gradient(center top , #686F74, #4F5458) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(center top , #686F74, #4F5458) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(center top , #686F74, #4F5458) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(center top , #686F74, #4F5458) repeat scroll 0 0 transparent;
	background: linear-gradient(center top , #686F74, #4F5458) repeat scroll 0 0 transparent;
	border: 1px solid #CCCCCC;
	height: 40px;
	line-height: 40px;
	margin-top: 0;
	font-size:16px;

 
}

#siteMenu
{
	padding-left:100px;
	padding-top:5px;
 float:left;
	width:600px; margin:0 auto;
}
#login_name

{	padding-right:50px;
	float:right;
}
#container
{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
    padding:10px;
} 
 .minHeight {
    min-height: 400px;
}

/*grid style*/

table.grid {
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
	font-family: Tahoma;
	font-size: 10pt;
}

table.grid thead {
	background: -webkit-linear-gradient(center top , #F6F6F6 10%, #FFFFFF 100%) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(center top , #F6F6F6 10%, #FFFFFF 100%) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(center top , #F6F6F6 10%, #FFFFFF 100%) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(center top , #F6F6F6 10%, #FFFFFF 100%) repeat scroll 0 0 transparent;
	background: linear-gradient(center top , #F6F6F6 10%, #FFFFFF 100%) repeat scroll 0 0 transparent;

	-webkit-box-shadow: 0 0.09em 0.09em #D7D7D7;
	-moz-box-shadow: 0 0.09em 0.09em #D7D7D7;
	box-shadow: 0 0.09em 0.09em #D7D7D7;
	color: #666666;
	margin: 0;
}

table.grid .grid_head_css th {
	font-family: Georgia,'Times New Roman',Times,serif;
	font-size: 12px;
	padding: 6px;
	text-shadow: 0 1px 0 #FFFFFF;
}

table.grid tbody tr {
	background: none repeat scroll 0 0 #FFFFFF;
	height: 28px;
}

table.grid tbody tr:hover {
 
	background-color:#f5f5f5;
}

table.grid td {
	border: 1px solid #CCCCCC;
	padding: 3px;
}

table.grid tr.even td {
	background: none repeat scroll 0 0 #F1F1F1;
}

.data-details .pagination {
	text-align: center;
}

#pagination {
	font-family: Tahoma;
	font-size: 12px;
	 
	padding: 5px;
}

#pagination a {
	background: -webkit-linear-gradient(center top , #FFFFFF 0%, #FEFEFE 19%, #EEEEEE 100%) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #FEFEFE 19%, #EEEEEE 100%) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(center top , #FFFFFF 0%, #FEFEFE 19%, #EEEEEE 100%) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(center top , #FFFFFF 0%, #FEFEFE 19%, #EEEEEE 100%) repeat scroll 0 0 transparent;
	background: linear-gradient(center top , #FFFFFF 0%, #FEFEFE 19%, #EEEEEE 100%) repeat scroll 0 0 transparent;
	text-decoration: none;
}

#pagination a,.pagination span {
	border: 1px solid #CCCCCC;

	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	color: #000000;
	display: inline-block;
	margin: 2px !important;
	padding: 5px 8px;
}

#pagination input {
	border: 0 none;
	font-family: Tahoma;
	font-size: 12px;
	height: 14px;
	margin: 2px;
	text-align: center;
	width: 32px;
}

#pagination span.spaninput {
	border: 1px solid #CCCCCC;

	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	color: #000000;
	display: inline-block;
	margin: 2px !important;
}

#pagination span.currentpage {
	background: -webkit-linear-gradient(center top , #F4F4F4 1%, #F4F4F4 50%, #FFFFFF 100%) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(center top , #F4F4F4 1%, #F4F4F4 50%, #FFFFFF 100%) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(center top , #F4F4F4 1%, #F4F4F4 50%, #FFFFFF 100%) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(center top , #F4F4F4 1%, #F4F4F4 50%, #FFFFFF 100%) repeat scroll 0 0 transparent;
	background: linear-gradient(center top , #F4F4F4 1%, #F4F4F4 50%, #FFFFFF 100%) repeat scroll 0 0 transparent;
	border: 1px solid #191919;
	color: #191919;
	font-weight: bold;
	text-shadow: 0 1px 0 #FFFFFF;
}

#pagination a:hover {
	background: -webkit-linear-gradient(center top , #EEEEEE 0%, #FEFEFE 81%, #FFFFFF 100%) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(center top , #EEEEEE 0%, #FEFEFE 81%, #FFFFFF 100%) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(center top , #EEEEEE 0%, #FEFEFE 81%, #FFFFFF 100%) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(center top , #EEEEEE 0%, #FEFEFE 81%, #FFFFFF 100%) repeat scroll 0 0 transparent;
	background: linear-gradient(center top , #EEEEEE 0%, #FEFEFE 81%, #FFFFFF 100%) repeat scroll 0 0 transparent;
}

.grid {
	background-color: #F9F9F9;
	border-color: #DFDFDF;
}

.grid img {
	padding: 5px;
}

.button,.submit input,.button-secondary {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;

	background: -webkit-linear-gradient(center top , #FFFFFF 0%, #FEFEFE 19%, #EEEEEE 100%) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #FEFEFE 19%, #EEEEEE 100%) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(center top , #FFFFFF 0%, #FEFEFE 19%, #EEEEEE 100%) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(center top , #FFFFFF 0%, #FEFEFE 19%, #EEEEEE 100%) repeat scroll 0 0 transparent;
	background: linear-gradient(center top , #FFFFFF 0%, #FEFEFE 19%, #EEEEEE 100%) repeat scroll 0 0 transparent;
	border-color: #BBBBBB;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	color: #464646;
	cursor: pointer;
	padding:10px;
}

.button:hover {
	border-color: #666666;
	color: #000000;
}
/*customer form*/

.leftSidePanel {
    float: left;
    margin-right: 10px;
    width: 480px;
}
.rightSidePanel {
    float: left;
    width: 480px;
}
.break {
    clear: both;
    line-height: 0;
}
.formPanel {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #BACAE8;
    border-style: solid;
    border-width: 1px 1px 2px;
    margin-bottom: 10px;
}
.formPanelHeader {
    background: url("../Images/Panels/FormPanelHeader.png") repeat-x scroll left top transparent;
    font-weight: bold;
    padding: 5px 12px;
}
.formPanelContent {
    background-color: #FFFFFF;
    padding: 4px;
}
.formView {
    width: 100%;
}
.detailsView {
    margin-bottom: 2px;
    width: 100%;
}
.detailsViewRow {
    background-color: #F7F7F7;
    padding: 4px 100px;
}
.detailsViewRow .detailsViewFieldHeader {
    background-color: #EAEAEA;
    color: #333333;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
    width: 35%;
}
.columnLeft {
    float: left;
}
.columnRight {
    float: right;
}
input {
    padding-left: 2px;
    padding-right: 2px;
}
.detailsView td {
    padding-bottom: 4px;
    padding-top: 4px;
}
.formPanelSubHeader {
    border-bottom: 1px solid #E6EEF8;
    font-weight: bold;
    margin: 0 15px 2px;
    padding-bottom: 2px;
}
input.txt, textarea {
    background: url("images/txt.gif") repeat-x scroll 0 0 transparent;
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 2px;
}
form.basic .small-input {
    width: 25% !important;
}
form.basic .medium-input {
    width: 50% !important;
}
form.basic .large-input {
    width: 97% !important;
}
form.basic textarea {
    width: 60%;
}
form.basic small {
    color: #999999;
}
.error {
    color: #B70B0B;
}
input.error, textarea.error {
    background-image: url("../admin_images/txt-error.gif");
    border-color: #D35757;
}
.ttop {
    vertical-align: top !important;
}
input[type="file"] {
    -moz-appearance: none;
    -moz-binding: none;
    border-style: none !important;
    cursor: default;
    padding: 0 !important;
    white-space: nowrap;
}
.paging
{
	clear:both;
	display:inline;
	height:60px;
}
.viewpageinfo
{
	float:left; width:100px;
	height: 20px;
	padding-top:10px;
}
#pagination
{
	float:left;
}
.header h3
{
	padding:20px 0px 20px 0px;
}